{{page-title 'Survey'}}
<head>
  <link integrity='' rel='stylesheet' href='/app/styles/_survey.css' />
</head>

<Layout>
  <Container>
    <h2 class='text-2xl font-medium'>Survey</h2>
    <p class='text-sm text-gray-400'>Share with us your thoughts and opinions</p>
  </Container>
  {{#unless isSubmitted}}
    <form
      {{action 'submit' on='submit'}}
      class='bg-white rounded px-8 pt-6 pb-8 mb-4 shadow-2xl'
    >
      {{#each this.model.questions as |question|}}
        <div class='mb-4'>
          <h3 class='text-xl font-medium'>{{question.description}}</h3>
          <div class='flex flex-row space-x-3'>
            {{#each question.options as |option|}}
              <input
                type='radio'
                id='{{question.id}}{{option}}'
                name='{{question.id}}'
                value='{{option}}'
              />
              <label for='{{question.id}}{{option}}'>{{option}}</label>
            {{/each}}
          </div>
        </div>
      {{/each}}
      <button
        class='mt-4 bg-black hover:bg-accent-orange-2 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline h-10'
        type='submit'
      >
        Submit
      </button>
    </form>
  {{/unless}}
  {{#if isSubmitted}}
    <Container>
      <h2 class='text-2xl font-medium'>Thank you for your feedback!</h2>
      <p class='text-sm text-gray-400'>Keep a lookout for our next survey!</p>
    </Container>
  {{/if}}
</Layout>